.wrapper {
    overflow: hidden;
    width: 100%;
  }
  
  .imageContainer {
    display: flex;
    gap: 25px;
    width: calc(100% * 5 + 125px); /* Adjusted to fit 5 images with gaps */
  }
  
  .imageContainer .image {
    height: 275px;
    width: calc(100% / 5 - 25px); /* Adjusted for 5 images */
    background-size: cover;
  }
  