.tokenomics {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('/SecondPade.png') no-repeat center center/cover;

}



.road {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 30vh;
    width: 30vw;
    margin: 0 auto;
    margin-bottom: 30px;
}

.road h1 {
    position: absolute;
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Cartoon style font */
    color: aquamarine;
    font-size: 5em;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap; /* Keeps the items in a single row */
    margin-top: 20px;
    height: 20vh;
    width: 100%;
}

.gallery-item {
    margin: 20px;
    width: 20%;
    text-align: center;
   scale: 1;
    flex-shrink: 0; /* Prevents items from shrinking */
}

.one {
    color: aquamarine;
}
.raydium {
    color: rgb(107, 34, 172);
}
.solana {
    color: rgb(236, 222, 21);
}

.gallery-item h3 {
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Cartoon style font */
    color: aquamarine;
    margin-bottom: 10px;
}

.gallery-image {
    width: 100%;
    border: 5px solid #000; /* Cartoon-style border */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    transition: transform 0.2s ease-in-out; /* Faster transition */
}

.gallery-image:hover {
    transform: scale(2); /* Slightly scale up the image on hover */
}
